#searchBar {
  margin: 15px 10px;
}

.tableWrapper {
  max-height: 400px;
  overflow: auto;
  background: white;
  border-style: solid;
  border-color: black;
  border-radius: 15px;
}

.formWrapper {
	padding: 25px;
	background: white;
	border-radius: 15px;
	border-style: solid;
	border-color: black;
}

.submitButton {
	padding-top: 10px;
}

.jumbotron {
	background: white;
	border-radius: 15px;
	border-style: solid;
	border-color: black;
}

body { 
    background: url(../rsc/tiny-squares.png) repeat 0 0;;
}

h1 {
    font-family: 'Corben', Georgia, Times, serif;
}
p, div, h2, h3, h4, h5, h6 {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
}